/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav > .btn {
  margin: auto;
  padding: auto;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  .row.content {height:auto;}
}

#uploader {
  opacity: 0;
}

label {
  padding: 10px;
  margin:auto;
  display: block;
}

#login, #signUp {
  display: block;
  margin: auto;
}

#filesView {
  flex-direction: column;
  background-color: green;
  margin: auto;
}
img {
  width:250px;
  height:250px;
  margin:auto;
  align:middle;
  display:block;
}
