/* Remove the navbar's default margin-bottom and rounded borders */
.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color:	#B7C68B;
}
.navbar-inverse .navbar-nav>li>a, #home, #back {
  color: #f3f3f3;
}

.navbar-inverse .navbar-nav>.active>a{
  background-color:  #003333;
}
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover{
  color:#fff;
  background-color: #003300;
}

#top{
  background: url("../img/background.jpg") no-repeat bottom center scroll;
  padding-top: 100px;
}
#main {
  background: #F4F0CB;
  opacity: 0.9;
  color:#266A2E;
  vertical-align: middle;
  margin: auto;
}
body {
  background-color: #B3A580;
}
#about {
  background-color: #B3A580;
  color:#F4F0CB;
}
#contact {
  background-color: #685642;
  color:#B3A580;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content{height: 100vh}

/* Set tan background color and 100% height */
.sidenav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #685642;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav > .btn {
  margin: auto;
  padding: auto;
}

/* Set green background color, white text and some padding */
footer {
  background-color:#B7C68B;
  color: #f3f3f3;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  #welcome {
    margin: auto;
    padding-left: 15px;
  }
  .row.content, .list-group {height:auto;}
}

/* Make the ugly, default uploader hidden */
#uploader {
  opacity: 0;
}

label {
  padding: 10px;
  margin:auto;
  display: block;
}

#login, #signUp {
  display: block;
  margin: auto;
}

/* Right header formatting*/
.navbar-right {
  display: inline-block;
}

/* Welcome message formatting*/
#profile {
  margin-top: 10px;
  font-size: 1em;
  color: #f1f1f1
}

/* Formatting for the author's image*/
img {
  width:250px;
  height:250px;
  margin:auto;
  align:middle;
  display:block;
}
/* Formatting for list of files */

#filesView, #listingView {
  display: none;
  margin: auto;
}

.list-group {
  width: 100%;
  overflow-y: scroll;
  height: 80vh;
  display: inline-block;
}
.list-group li {
  width: 100%;
  list-style-type: none;
  float: left;
}
.list-group li .fileSync {
  margin: auto;
  float: right;
}
/* Formatting for the Google Street view property preview*/
.list-group li img {
  float: left;
  padding: 10px;
}
/* Default feedback for empty lists */
#notelist:empty::after {
  content: "You have no synced notes. Please sync one of your uploaded files."
}
#filelist:empty::after {
  content: "You have no files. Please upload a loan note pool sheet."
}
